body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}
@keyframes xAxis {
  50% {
    animation-timing-function: ease-in;
    transform: translateX(75px);
  }
}
@keyframes yAxis {
  50% {
    animation-timing-function: ease-out;
    transform: translateY(-100px);
  }
}
@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
#bowser:hover{
  transition: transform 2s ease-in-out;
  transform: scale(2);
}
#luigi{
  height: 200px;
  animation: yAxis 0.75s infinite ease-out;
}
#yoshi{
  height: 200px;
  animation: xAxis 6s infinite ease-out, rotation 1s;

}